body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #E4E6D9;
  color: #1e392a;
}

/* ==== LAYOUT GERAL ==== */
.container {
  display: flex;
  height: 100vh;
}
/* ==== MENU LATERAL PADRONIZADO ==== */
.sidebar {
  background-color:  #E6E9D7;
  width: 250px;
  border-right: 3px solid #63783D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

/* LOGO E TÍTULO CENTRALIZADOS */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.logo img {
  width: 120px;
  height: auto;
  max-width: 100%;
  border-radius: 0;
  object-fit: contain;
  align-items: center;
  
}

.titulo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #445A38;
  margin: 0;
}

/* ==== MENU BOTÕES ==== */
.menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.menu button {
  width: 100%;
  padding: 1rem;
  background-color: #7FA653;
  color: var(--branco);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover {
  background-color:  #63783D;
  transform: scale(1.03);
}
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultado-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* ocupa toda a altura da tela */
  text-align: center;
}

.resultado-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #1e392a;
}

/* Centraliza o conjunto avaliação + medidor */
.resultado-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.avaliacao {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.medidor {
  max-width: 400px;
  width: 100%;
  height: auto;
}

/* Caixa da mensagem com moldura e centralização */
.mensagem-box {
  border: 2px solid #1e392a;
  border-radius: 10px;
  padding: 20px 40px;
  max-width: 800px;
  text-align: center;
}

.mensagem-box strong {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.mensagem-texto {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
}